# dependencies
node_modules
*/node_modules
fb-bot/node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# specific ignores
backend/node_modules/
components/landing/landing/.next/
components/landing/landing/node_modules/
*.zip
.netlify/